In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #importing libraries

In [3]:
dataset=pd.read_csv('C:/Users/neeraj/MachineLearning_workspace/SimpleLinearRegression/China1.csv')

In [4]:
dataset.head()

,AFP,Input,Output,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDR_UFP,Resource,Duration,N-Effort,Effort
0,1587,774,260,340,128,0,1502,0,0,4.7,5.0,4.7,5.0,4,4.0,7490,7490
1,260,9,4,3,193,41,51,138,61,16.0,16.6,16.0,16.6,2,17.0,4150,4150
2,152,25,33,28,42,35,163,0,0,4.4,4.1,4.4,4.1,1,9.0,668,668
3,252,151,28,8,39,0,69,153,4,12.8,14.3,15.5,17.3,1,4.0,3901,3238
4,292,93,0,194,20,0,0,307,0,10.3,9.8,12.4,11.7,1,13.0,3607,2994

In [5]:
dataset.columns

Index([u'AFP', u'Input', u'Output', u'Enquiry', u'File', u'Interface',
       u'Added', u'Changed', u'Deleted', u'PDR_AFP', u'PDR_UFP', u'NPDR_AFP',
       u'NPDR_UFP', u'Resource', u'Duration', u'N-Effort', u'Effort'],
      dtype='object')

In [6]:
X = dataset.loc[:,['AFP', 'Input', 'Enquiry', 'File', 'Interface','Added', 
            'Changed', 'Deleted', 'PDR_AFP', 'PDR_UFP', 'NPDR_AFP','NPDR_UFP', 'Resource', 'Duration', 'N-Effort', 'Effort']]

In [7]:
X.head(2)

,AFP,Input,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDR_UFP,Resource,Duration,N-Effort,Effort
0,1587,774,340,128,0,1502,0,0,4.7,5.0,4.7,5.0,4,4.0,7490,7490
1,260,9,3,193,41,51,138,61,16.0,16.6,16.0,16.6,2,17.0,4150,4150

In [8]:
y= dataset.loc[:,['Output']]

In [9]:
y.head(2)

   Output
0     260
1       4

In [10]:
from sklearn.cross_validation import train_test_split

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=123)

In [12]:
X_train.head(2)

,AFP,Input,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDR_UFP,Resource,Duration,N-Effort,Effort
95,253,72,107,29,44,252,0,0,46.3,46.3,49.8,49.8,1,13.0,12601,11719
54,465,234,104,118,0,431,15,54,8.7,8.1,10.5,9.8,1,13.0,4884,4054

In [13]:
y_train.head(2)

    Output
95       0
54      44

In [14]:
y_test.head(2)

     Output
85        0
309     231

In [16]:
X_test.head(2)

,AFP,Input,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDR_UFP,Resource,Duration,N-Effort,Effort
85,288,201,36,76,0,99,214,0,8.5,7.9,10.3,9.5,1,5.0,2963,2459
309,605,155,91,105,0,582,0,0,2.8,2.9,3.4,3.5,1,8.0,2041,1694

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
LinReg = LinearRegression()

In [31]:
LinReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
LinReg.predict(X_test)

array([[ 2.78026226e-13],
       [ 2.31000000e+02],
       [ 6.40000000e+01],
       [ 5.60000000e+01],
       [ 1.02000000e+02],
       [ 2.31692044e-13],
       [ 1.43213487e-13],
       [ 2.20000000e+01],
       [ 1.20000000e+01],
       [ 4.10000000e+01],
       [ 1.33763930e-13],
       [ 1.40000000e+01],
       [ 2.45000000e+02],
       [ 5.00000000e+00],
       [ 3.20000000e+01],
       [ 1.10000000e+01],
       [ 1.24100000e+03],
       [ 1.19000000e+02],
       [ 1.70000000e+01],
       [ 6.80000000e+01],
       [ 4.98481918e-14],
       [ 1.33000000e+02],
       [ 4.90000000e+01],
       [ 1.36000000e+02],
       [ 1.60000000e+02],
       [ 1.09000000e+02],
       [ 6.20000000e+01],
       [ 7.10000000e+01],
       [ 8.10000000e+01],
       [-2.53958725e-13],
       [ 1.50000000e+01],
       [ 4.28000000e+02],
       [ 1.10000000e+01],
       [ 3.20000000e+01],
       [ 3.20000000e+01],
       [ 1.78028454e-13],
       [ 1.80000000e+01],
       [ 6.67000000e+02],
       [ 3.80000000e+01],
       [ 7.00000000e+00],
       [ 1.95000000e+02],
       [ 4.49000000e+02],
       [ 6.58000000e+02],
       [ 2.24000000e+02],
       [ 2.40000000e+01],
       [ 2.20000000e+01],
       [ 4.00000000e+00],
       [ 1.10000000e+01],
       [ 2.90000000e+01],
       [ 1.20000000e+01],
       [ 5.40000000e+01],
       [ 1.22100000e+03],
       [-1.48119601e-13],
       [ 1.69687630e-13],
       [ 7.00000000e+00],
       [ 4.04000000e+02],
       [ 6.30000000e+01],
       [ 1.00900000e+03],
       [ 7.00000000e+00],
       [ 1.88447838e-13],
       [ 4.50000000e+01],
       [ 4.00000000e+00],
       [ 4.50000000e+01],
       [ 1.60000000e+01],
       [ 1.20000000e+01],
       [ 6.60000000e+01],
       [ 7.00000000e+00],
       [ 3.30000000e+01],
       [ 2.22000000e+02],
       [ 1.05000000e+02],
       [ 4.20000000e+01],
       [ 1.50000000e+01],
       [ 1.50000000e+01],
       [ 6.10000000e+01],
       [ 7.80000000e+01],
       [ 4.20000000e+01],
       [ 4.20000000e+01],
       [ 1.80000000e+01],
       [ 1.54000000e+02],
       [ 3.19000000e+02],
       [ 2.61376864e-13],
       [ 8.80000000e+01],
       [ 8.00000000e+00],
       [ 1.90000000e+01],
       [ 5.00000000e+00],
       [ 1.34000000e+02],
       [ 5.00000000e+00],
       [ 3.40000000e+01],
       [ 4.50000000e+01],
       [ 2.10000000e+01],
       [ 2.10000000e+01],
       [ 2.52000000e+02],
       [ 2.10000000e+01],
       [ 3.06000000e+02],
       [ 2.53505552e-13],
       [ 3.33000000e+02],
       [ 5.00000000e+00],
       [ 8.11341086e-14],
       [ 5.00000000e+01],
       [ 4.00000000e+00]])

In [33]:
y_test

     Output
85        0
309     231
59       64
221      56
131     102
5         0
114       0
423      22
288      12
101      41
36        0
276      14
184     245
11        5
82       32
170      11
419    1241
159     119
415      17
107      68
200       0
284     133
488      49
48      136
203     160
335     109
248      62
34       71
471      81
175       0
..      ...
182      42
367      15
316      15
156      61
49       78
429      42
368      42
400      18
160     154
436     319
292       0
337      88
327       8
385      19
66        5
417     134
185       5
291      34
352      45
275      21
42       21
318     252
41       21
142     306
351       0
475     333
460       5
341       0
212      50
120       4

[100 rows x 1 columns]

In [34]:
LinReg.score(X_test,y_test)

1.0